In [1]:
import MySQLdb
import pandas as pd

db = MySQLdb.connect(host = "localhost", user = "debian-sys-maint",
                    passwd = "CEMj8ptYHraxNxFt", db = "financial", charset = "utf8")
cursor = db.cursor()

In [3]:
df = pd.read_csv("ticker_list.csv")
df

             ticker class
0           1101 台泥    水泥
1        1101B 台泥乙特    水泥
2           1102 亞泥    水泥
3           1103 嘉泥    水泥
4           1104 環泥    水泥
...             ...   ...
26002  6912 益鈞環科*-新  戰略新板
26003     6913 鴻呈-新  戰略新板
26004     6922 宸曜-新  戰略新板
26005     6925 意藍-新  戰略新板
26006   7610 聯友金屬-新  戰略新板

[26007 rows x 2 columns]

In [5]:
for row in range(len(df)):
    temp = df.iloc[row]

    cursor.execute("INSERT INTO ticker_list (`ticker`, `class`)"
                    " VALUES (%s, %s);", (temp["ticker"], temp["class"]))
    db.commit()