In [1]:
import MySQLdb
import pandas as pd
from tqdm import trange

db = MySQLdb.connect(host = "localhost", user = "debian-sys-maint",
                    passwd = "CEMj8ptYHraxNxFt", db = "financial", charset = "utf8")
cursor = db.cursor()

In [2]:
df = pd.read_csv("ticker_list.csv")
df

         stock_name stock_num class
0           1101 台泥      1101    水泥
1        1101B 台泥乙特     1101B    水泥
2           1102 亞泥      1102    水泥
3           1103 嘉泥      1103    水泥
4           1104 環泥      1104    水泥
...             ...       ...   ...
25875  6912 益鈞環科*-新      6912  戰略新板
25876     6913 鴻呈-新      6913  戰略新板
25877     6922 宸曜-新      6922  戰略新板
25878     6925 意藍-新      6925  戰略新板
25879   7610 聯友金屬-新      7610  戰略新板

[25880 rows x 3 columns]

In [3]:
for row in trange(len(df)):
    temp = df.iloc[row]

    cursor.execute("INSERT INTO ticker_list (`stock_num`, `stock_name`, `class`)"
                    " VALUES (%s, %s, %s);", (temp["stock_num"], temp["stock_name"], temp["class"]))
    db.commit()

100%|██████████| 25880/25880 [48:48<00:00,  8.84it/s]