In [1]:
import MySQLdb
import pandas as pd
from tqdm import trange

In [2]:
df = pd.read_csv("twseTest.csv")
df = df.fillna("NULL")

In [3]:
df.head(1)

,Co_ID,Co_name,Date,Time,Form,Message,More information,Video address,Attention
0,2454,聯發科,2022-01-27,15:00,線上法說會,(1) 公布本公司2021年第4季財務報告及2022年第1季業績展望。 (2) 參加方式：請...,https://www.mediatek.com/,\n影音資訊網址：\nhttps://webpage-ott2b.cdn.hinet.net...,無

In [4]:
db = MySQLdb.connect(host = "localhost", user = "debian-sys-maint",
                     passwd = "CEMj8ptYHraxNxFt", db = "financial", charset = "utf8")

cursor = db.cursor()

In [5]:
for i in trange(len(df)):
    cursor.execute("INSERT INTO calender (stockNum, stockName, Date, Time, Form)"
                   " VALUES (%s, %s, %s, %s, %s);", (df["Co_ID"][i], df["Co_name"][i], df["Date"][i], df["Time"][i], df["Form"][i]))
    db.commit()

db.close()

100%|██████████| 66/66 [00:07<00:00,  8.94it/s]

In [12]:
db.close()

OperationalError: (2006, '')