In [1]:
import os
import requests
from bs4 import BeautifulSoup
import ddddocr
from selenium import webdriver

In [2]:
ocr = ddddocr.DdddOcr()

欢迎使用ddddocr，本项目专注带动行业内卷，个人博客:wenanzhe.com
训练数据支持来源于:http://146.56.204.113:19199/preview
爬虫框架feapder可快速一键接入，快速开启爬虫之旅：https://github.com/Boris-code/feapder

In [2]:
# driver = webdriver.Chrome("/home/cosbi/financialSite/captchaCrack/chromedriver")

options = webdriver.ChromeOptions()
options.add_argument('--headless')

driver = webdriver.Chrome(chrome_options = options, executable_path = "/home/cosbi/financialSite/captchaCrack/chromedriver")

WebDriverException: Message: 'chromedriver' executable needs to be in PATH. Please see https://chromedriver.chromium.org/home

In [4]:
try:
    driver.get("https://bsr.twse.com.tw/bshtm/bsMenu.aspx")
    driver.refresh()
    
    imgPath = driver.find_elements_by_css_selector("img")[1].get_attribute("src")
    
    with open("temp.jpg", "wb") as f:
        f.write(requests.get(imgPath, verify = False).content)
        f.close()

    with open("temp.jpg", 'rb') as f:
        image = f.read()
        f.close()

    res = ocr.classification(image)
    
    driver.find_element_by_name("TextBox_Stkno").clear()
    driver.find_element_by_name("TextBox_Stkno").send_keys("0051")
    driver.find_element_by_name("CaptchaControl1").clear()
    driver.find_element_by_name("CaptchaControl1").send_keys(res)
    driver.find_element_by_name("btnOK").click()
    
    driver.get("https://bsr.twse.com.tw/bshtm/bsContent.aspx?v=t")
    soup = BeautifulSoup(driver.page_source, "html.parser")
    print(soup)

except Exception as e:
    print(e)

<html xmlns="http://www.w3.org/1999/xhtml"><head><title>
</title><meta content="text/html; charset=utf-8" http-equiv="Content-Type"/><link href="./BSR_Style.css" id="ssLayout" rel="stylesheet" type="text/css"/></head>
<body bottommargin="0" leftmargin="0" rightmargin="0" topmargin="0">
<form action="./bsContent.aspx?v=t" id="form1" method="post" name="form1">
<div>
<input id="__VIEWSTATE" name="__VIEWSTATE" type="hidden" value="/wEPDwUKLTgxNDI2MzM4MGRkOCeVH5iuNhKRRTu7K+3m5A=="/>
</div>
<div>
<input id="__VIEWSTATEGENERATOR" name="__VIEWSTATEGENERATOR" type="hidden" value="23969AED"/>
</div>
<span id="sp_HtmlCode"><table border="0" cellpadding="0" cellspacing="0"><tbody><tr><td align="center"> <table border="0" cellpadding="0" cellspacing="0" width="600px"> <tbody><tr><td align="center"> <span id="ylast_price" style="display: none"></span><table bgcolor="#FFFFFF" border="1" bordercolordark="#FFFFFF" bordercolorlight="#363636" cellpadding="2" cellspacing="0" width="100%">
<tbody><tr>
<td class="column_title">
          交易日期</td>
<td class="column_value" colspan="3" id="receive_date">
    2022/05/13</td>
<td class="column_title">
          股票代號</td>
<td class="column_value" colspan="3" id="stock_id">
    0051 元大中型100</td>
</tr>
<tr>
<td class="column_title">
          成交筆數</td>
<td class="column_value" id="trade_rec">
    561</td>
<td class="column_title">
          成交金額</td>
<td class="column_value" colspan="2" id="trade_amt">
    1,524,051</td>
<td class="column_title">
          成交股數</td>
<td class="column_value" colspan="2" id="trade_qty">
    27,683</td>
</tr>
<tr>
<td class="column_title">
          開盤價</td>
<td class="price_high" id="open_price">
    55.00</td>
<td class="column_title">
          最高價</td>
<td class="price_high" id="high_price">
    55.20</td>
<td class="column_title">
          最低價</td>
<td class="price_low" id="low_price">
    54.85</td>
<td class="column_title">
          收盤價</td>
<td class="column_value_price" id="last_price">
    55.00</td>
</tr></tbody></table>
</td></tr> <tr><td align="center"> <table border="0" bordercolor="#000000" cellpadding="2" cellspacing="0" id="table2" width="600">
<tbody><tr><td bgcolor="#9c9c9c" valign="top">
<table bgcolor="#FFFFFF" border="1" bordercolordark="#FFFFFF" bordercolorlight="#363636" cellpadding="2" cellspacing="0" width="100%">
<tbody><tr class="column_title_1">
<td>序</td>
<td>證券商</td>
<td>成交單價</td>
<td>買進股數</td>
<td>賣出股數</td>
</tr>
<tr class="column_value_price_3">
<td class="column_value_center">
           1</td>
<td class="column_value_left">
           102E 合庫桃園</td>
<td class="column_value_right">
          54.85</td>
<td class="column_value_right">
          0</td>
<td class="column_value_right">
          1,000</td>
</tr>
<tr class="column_value_price_3"> <td class="column_value_center">
           3</td>
<td class="column_value_left">
           1043 臺銀民權</td>
<td class="column_value_right">
          55.00</td>
<td class="column_value_right">
          0</td>
<td class="column_value_right">
          1,000</td>
</tr>
<tr class="column_value_price_3"> <td class="column_value_center">
           5</td>
<td class="column_value_left">
           116N 日盛永康</td>
<td class="column_value_right">
          54.95</td>
<td class="column_value_right">
          0</td>
<td class="column_value_right">
          500</td>
</tr>
<tr class="column_value_price_3"> <td class="column_value_center">
           7</td>
<td class="column_value_left">
           585D 統一新台中</td>
<td class="column_value_right">
          54.65</td>
<td class="column_value_right">
          24</td>
<td class="column_value_right">
          0</td>
</tr>
<tr class="column_value_price_3"> <td class="column_value_center">
           9</td>
<td class="column_value_left">
           5920 元    富</td>
<td class="column_value_right">
          54.85</td>
<td class="column_value_right">
          1,000</td>
<td class="column_value_right">
          0</td>
</tr>
<tr class="column_value_price_2"> <td class="column_value_center">
           11</td>
<td class="column_value_left">
           5920</td>
<td class="column_value_right">
          54.95</td>
<td class="column_value_right">
          1,000</td>
<td class="column_value_right">
          0</td>
</tr>
<tr class="column_value_price_3"> <td class="column_value_center">
           13</td>
<td class="column_value_left">
           6160 中國信託</td>
<td class="column_value_right">
          54.80</td>
<td class="column_value_right">
          0</td>
<td class="column_value_right">
          999</td>
</tr>
<tr class="column_value_price_2"> <td class="column_value_center">
           15</td>
<td class="column_value_left">
           6160</td>
<td class="column_value_right">
          55.15</td>
<td class="column_value_right">
          1,000</td>
<td class="column_value_right">
          207</td>
</tr>
<tr class="column_value_price_3"> <td class="column_value_center">
           17</td>
<td class="column_value_left">
           8151 台新建北</td>
<td class="column_value_right">
          55.20</td>
<td class="column_value_right">
          0</td>
<td class="column_value_right">
          1,000</td>
</tr>
<tr class="column_value_price_3"> <td class="column_value_center">
           19</td>
<td class="column_value_left">
           815Y 台新新營</td>
<td class="column_value_right">
          54.95</td>
<td class="column_value_right">
          0</td>
<td class="column_value_right">
          1,000</td>
</tr>
<tr class="column_value_price_3"> <td class="column_value_center">
           21</td>
<td class="column_value_left">
           8564 新光台南</td>
<td class="column_value_right">
          54.80</td>
<td class="column_value_right">
          0</td>
<td class="column_value_right">
          100</td>
</tr>
<tr class="column_value_price_3"> <td class="column_value_center">
           23</td>
<td class="column_value_left">
           8840 玉    山</td>
<td class="column_value_right">
          54.95</td>
<td class="column_value_right">
          100</td>
<td class="column_value_right">
          0</td>
</tr>
<tr class="column_value_price_3"> <td class="column_value_center">
           25</td>
<td class="column_value_left">
           884B 玉山台中</td>
<td class="column_value_right">
          55.00</td>
<td class="column_value_right">
          125</td>
<td class="column_value_right">
          0</td>
</tr>
<tr class="column_value_price_3"> <td class="column_value_center">
           27</td>
<td class="column_value_left">
           8880 國泰綜合</td>
<td class="column_value_right">
          54.65</td>
<td class="column_value_right">
          0</td>
<td class="column_value_right">
          59</td>
</tr>
<tr class="column_value_price_2"> <td class="column_value_center">
           29</td>
<td class="column_value_left">
           8880</td>
<td class="column_value_right">
          54.90</td>
<td class="column_value_right">
          0</td>
<td class="column_value_right">
          15</td>
</tr>
<tr class="column_value_price_2"> <td class="column_value_center">
           31</td>
<td class="column_value_left">
           8880</td>
<td class="column_value_right">
          55.00</td>
<td class="column_value_right">
          1,000</td>
<td class="column_value_right">
          152</td>
</tr>
<tr class="column_value_price_2"> <td class="column_value_center">
           33</td>
<td class="column_value_left">
           8880</td>
<td class="column_value_right">
          55.10</td>
<td class="column_value_right">
          1,000</td>
<td class="column_value_right">
          7</td>
</tr>
<tr class="column_value_price_2"> <td class="column_value_center">
           35</td>
<td class="column_value_left">
           8880</td>
<td class="column_value_right">
          55.20</td>
<td class="column_value_right">
          3,000</td>
<td class="column_value_right">
          0</td>
</tr>
<tr class="column_value_price_2"> <td class="column_value_center">
           37</td>
<td class="column_value_left">
           8880</td>
<td class="column_value_right">
          55.30</td>
<td class="column_value_right">
          0</td>
<td class="column_value_right">
          14</td>
</tr>
<tr class="column_value_price_3"> <td class="column_value_center">
           39</td>
<td class="column_value_left">
           8885 國泰桃園</td>
<td class="column_value_right">
          54.90</td>
<td class="column_value_right">
          0</td>
<td class="column_value_right">
          1,000</td>
</tr>
<tr class="column_value_price_3"> <td class="column_value_center">
           41</td>
<td class="column_value_left">
           888A 國泰館前</td>
<td class="column_value_right">
          54.80</td>
<td class="column_value_right">
          0</td>
<td class="column_value_right">
          49</td>
</tr>
<tr class="column_value_price_3"> <td class="column_value_center">
           43</td>
<td class="column_value_left">
           9200 凱基</td>
<td class="column_value_right">
          55.00</td>
<td class="column_value_right">
          1,100</td>
<td class="column_value_right">
          0</td>
</tr>
<tr class="column_value_price_2"> <td class="column_value_center">
           45</td>
<td class="column_value_left">
           9200</td>
<td class="column_value_right">
          55.15</td>
<td class="column_value_right">
          1,000</td>
<td class="column_value_right">
          0</td>
</tr>
<tr class="column_value_price_3"> <td class="column_value_center">
           47</td>
<td class="column_value_left">
           9204 凱基台中</td>
<td class="column_value_right">
          54.80</td>
<td class="column_value_right">
          10</td>
<td class="column_value_right">
          0</td>
</tr>
<tr class="column_value_price_3"> <td class="column_value_center">
           49</td>
<td class="column_value_left">
           9600 富邦</td>
<td class="column_value_right">
          54.65</td>
<td class="column_value_right">
          0</td>
<td class="column_value_right">
          57</td>
</tr>
<tr class="column_value_price_2"> <td class="column_value_center">
           51</td>
<td class="column_value_left">
           9600</td>
<td class="column_value_right">
          55.05</td>
<td class="column_value_right">
          189</td>
<td class="column_value_right">
          0</td>
</tr>
<tr class="column_value_price_2"> <td class="column_value_center">
           53</td>
<td class="column_value_left">
           9600</td>
<td class="column_value_right">
          55.15</td>
<td class="column_value_right">
          194</td>
<td class="column_value_right">
          0</td>
</tr>
<tr class="column_value_price_3"> <td class="column_value_center">
           55</td>
<td class="column_value_left">
           9623 富邦台北</td>
<td class="column_value_right">
          55.00</td>
<td class="column_value_right">
          15</td>
<td class="column_value_right">
          0</td>
</tr>
<tr class="column_value_price_3"> <td class="column_value_center">
           57</td>
<td class="column_value_left">
           9655 富邦板橋</td>
<td class="column_value_right">
          55.10</td>
<td class="column_value_right">
          1,000</td>
<td class="column_value_right">
          0</td>
</tr>
<tr class="column_value_price_2"> <td class="column_value_center">
           59</td>
<td class="column_value_left">
           9800</td>
<td class="column_value_right">
          54.80</td>
<td class="column_value_right">
          964</td>
<td class="column_value_right">
          0</td>
</tr>
<tr class="column_value_price_2"> <td class="column_value_center">
           61</td>
<td class="column_value_left">
           9800</td>
<td class="column_value_right">
          55.05</td>
<td class="column_value_right">
          0</td>
<td class="column_value_right">
          1,000</td>
</tr>
<tr class="column_value_price_2"> <td class="column_value_center">
           63</td>
<td class="column_value_left">
           9800</td>
<td class="column_value_right">
          55.15</td>
<td class="column_value_right">
          0</td>
<td class="column_value_right">
          5,000</td>
</tr>
<tr class="column_value_price_2"> <td class="column_value_center">
           65</td>
<td class="column_value_left">
           9800</td>
<td class="column_value_right">
          55.25</td>
<td class="column_value_right">
          0</td>
<td class="column_value_right">
          201</td>
</tr>
<tr class="column_value_price_3"> <td class="column_value_center">
           67</td>
<td class="column_value_left">
           980d 元大沙鹿</td>
<td class="column_value_right">
          54.95</td>
<td class="column_value_right">
          1</td>
<td class="column_value_right">
          0</td>
</tr>
<tr class="column_value_price_3"> <td class="column_value_center">
           69</td>
<td class="column_value_left">
           984K 元大館前</td>
<td class="column_value_right">
          55.00</td>
<td class="column_value_right">
          0</td>
<td class="column_value_right">
          1,000</td>
</tr>
<tr class="column_value_price_2"> <td class="column_value_center">
           71</td>
<td class="column_value_left">
           9868</td>
<td class="column_value_right">
          55.30</td>
<td class="column_value_right">
          277</td>
<td class="column_value_right">
          0</td>
</tr>
<tr class="column_value_price_3"> <td class="column_value_center">
           73</td>
<td class="column_value_left">
           9879 元大板三</td>
<td class="column_value_right">
          54.95</td>
<td class="column_value_right">
          5</td>
<td class="column_value_right">
          0</td>
</tr>
<tr class="column_value_price_3"> <td class="column_value_center">
           75</td>
<td class="column_value_left">
           989F 元大高雄</td>
<td class="column_value_right">
          55.00</td>
<td class="column_value_right">
          10</td>
<td class="column_value_right">
          0</td>
</tr>
<tr class="column_value_price_3"> <td class="column_value_center">
           77</td>
<td class="column_value_left">
           989X 元大民生</td>
<td class="column_value_right">
          55.10</td>
<td class="column_value_right">
          0</td>
<td class="column_value_right">
          1,000</td>
</tr>
<tr class="column_value_price_3"> <td class="column_value_center">
           79</td>
<td class="column_value_left">
           9A91 永豐松山</td>
<td class="column_value_right">
          54.80</td>
<td class="column_value_right">
          69</td>
<td class="column_value_right">
          0</td>
</tr>
<tr class="column_value_price_3"> <td class="column_value_center">
           81</td>
<td class="column_value_left">
           9A9c 永豐永康</td>
<td class="column_value_right">
          54.95</td>
<td class="column_value_right">
          50</td>
<td class="column_value_right">
          0</td>
</tr>
</tbody></table>
</td><td align="left" bgcolor="#9c9c9c">
<table bgcolor="#FFFFFF" border="1" bordercolordark="#FFFFFF" bordercolorlight="#363636" cellpadding="2" cellspacing="0" width="100%">
<tbody><tr class="column_title_1">
<td>序</td>
<td>證券商</td>
<td>成交單價</td>
<td>買進股數</td>
<td>賣出股數</td>
</tr>
<tr class="column_value_price_3">
<td class="column_value_center">
           2</td>
<td class="column_value_left">
           1040 臺    銀</td>
<td class="column_value_right">
          54.80</td>
<td class="column_value_right">
          127</td>
<td class="column_value_right">
          0</td>
</tr>
<tr class="column_value_price_3">
<td class="column_value_center">
           4</td>
<td class="column_value_left">
           1160 日    盛</td>
<td class="column_value_right">
          55.10</td>
<td class="column_value_right">
          0</td>
<td class="column_value_right">
          200</td>
</tr>
<tr class="column_value_price_3">
<td class="column_value_center">
           6</td>
<td class="column_value_left">
           585A 統一基隆</td>
<td class="column_value_right">
          55.00</td>
<td class="column_value_right">
          0</td>
<td class="column_value_right">
          1,000</td>
</tr>
<tr class="column_value_price_3">
<td class="column_value_center">
           8</td>
<td class="column_value_left">
           585E 統一新營</td>
<td class="column_value_right">
          55.15</td>
<td class="column_value_right">
          17</td>
<td class="column_value_right">
          0</td>
</tr>
<tr class="column_value_price_2">
<td class="column_value_center">
           10</td>
<td class="column_value_left">
           5920</td>
<td class="column_value_right">
          54.90</td>
<td class="column_value_right">
          1,000</td>
<td class="column_value_right">
          0</td>
</tr>
<tr class="column_value_price_2">
<td class="column_value_center">
           12</td>
<td class="column_value_left">
           5920</td>
<td class="column_value_right">
          55.00</td>
<td class="column_value_right">
          3,000</td>
<td class="column_value_right">
          0</td>
</tr>
<tr class="column_value_price_2">
<td class="column_value_center">
           14</td>
<td class="column_value_left">
           6160</td>
<td class="column_value_right">
          54.95</td>
<td class="column_value_right">
          609</td>
<td class="column_value_right">
          0</td>
</tr>
<tr class="column_value_price_3">
<td class="column_value_center">
           16</td>
<td class="column_value_left">
           7000 兆豐</td>
<td class="column_value_right">
          55.00</td>
<td class="column_value_right">
          0</td>
<td class="column_value_right">
          1,000</td>
</tr>
<tr class="column_value_price_3">
<td class="column_value_center">
           18</td>
<td class="column_value_left">
           8156 台新三民</td>
<td class="column_value_right">
          55.00</td>
<td class="column_value_right">
          0</td>
<td class="column_value_right">
          200</td>
</tr>
<tr class="column_value_price_3">
<td class="column_value_center">
           20</td>
<td class="column_value_left">
           8560 新    光</td>
<td class="column_value_right">
          55.10</td>
<td class="column_value_right">
          1,000</td>
<td class="column_value_right">
          0</td>
</tr>
<tr class="column_value_price_2">
<td class="column_value_center">
           22</td>
<td class="column_value_left">
           8564</td>
<td class="column_value_right">
          55.00</td>
<td class="column_value_right">
          0</td>
<td class="column_value_right">
          1,000</td>
</tr>
<tr class="column_value_price_2">
<td class="column_value_center">
           24</td>
<td class="column_value_left">
           8840</td>
<td class="column_value_right">
          55.00</td>
<td class="column_value_right">
          55</td>
<td class="column_value_right">
          0</td>
</tr>
<tr class="column_value_price_3">
<td class="column_value_center">
           26</td>
<td class="column_value_left">
           884E 玉山城中</td>
<td class="column_value_right">
          55.25</td>
<td class="column_value_right">
          200</td>
<td class="column_value_right">
          0</td>
</tr>
<tr class="column_value_price_2">
<td class="column_value_center">
           28</td>
<td class="column_value_left">
           8880</td>
<td class="column_value_right">
          54.80</td>
<td class="column_value_right">
          0</td>
<td class="column_value_right">
          22</td>
</tr>
<tr class="column_value_price_2">
<td class="column_value_center">
           30</td>
<td class="column_value_left">
           8880</td>
<td class="column_value_right">
          54.95</td>
<td class="column_value_right">
          0</td>
<td class="column_value_right">
          188</td>
</tr>
<tr class="column_value_price_2">
<td class="column_value_center">
           32</td>
<td class="column_value_left">
           8880</td>
<td class="column_value_right">
          55.05</td>
<td class="column_value_right">
          0</td>
<td class="column_value_right">
          8</td>
</tr>
<tr class="column_value_price_2">
<td class="column_value_center">
           34</td>
<td class="column_value_left">

In [14]:
driver.close()